body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
}

.shadow {
  box-shadow: rgba(159, 162, 191, 0.18) 0px 9px 16px, rgba(159, 162, 191, 0.32) 0px 2px 2px;
}

.rounded {
  border-radius: 8px;
}

.fade-out-divider {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(10%, rgba(0, 0, 0, 0)),
    color-stop(50%, rgba(0, 0, 0, 0.65)),
    color-stop(90%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
}

.active {
  color: #23257b;
}

.spinner {
  transform-origin: center;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#nprogress .bar {
  background: #38b42d !important;
  z-index: 1202 !important;
}
