body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
}

.shadow {
  box-shadow: rgba(159, 162, 191, 0.18) 0px 9px 16px, rgba(159, 162, 191, 0.32) 0px 2px 2px;
}

.rounded {
  border-radius: 8px;
}
